@charset "utf-8";
/* CSS Document */
a{
    text-decoration:none;
}

/* html5 display rule */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{
    display:block;
}

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
    background-color:#DFDFDF;
    text-align:center;
    font: 14px Arial, Helvetica, sans-serif;
	color:#333333;
	counter-reset: contador 0;
}

#wrapper{
	padding-top:10px;
    width:950px;
    background-color:#EFEFEF;
    margin:0 auto;
    border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}

/*-----*/
.texto2Columnas{
	column-count:2;
	column-gap:1em;
	text-align:justify;
}
header#mainHeader{
    background-color:#B69769;
	min-height: 128px;
	position:relative;
}
header#mainHeader div{
	padding-left:128px;
}
header#mainHeader h1{
    color:#FFFFFF;
	padding-top:20px;
	font-size:24px;
}
header#mainHeader h2{
    color:#EFEFEF;
	padding-bottom:6px;
	font-size:18px;
}
header#mainHeader img{
    position:absolute;
	top:0;
	left:0;
    background-color:#EFEFEF;
}

nav{
    background-color:#EFEFEF;
    height:42px;
	border-bottom:1px solid #CCCCCC;
	position:absolute;
	bottom:0;
}
nav ul {
    font-size:20px;
    margin:0;
    padding:0;
    list-style:none;
}
nav ul li{
    display:block;
    position:relative;
    float:left;
}
nav li ul{
    display:none;
	
}
nav ul li a{
    display:block;
    text-decoration:none;
    padding:10px 6px 2px 6px;
    background-color:#EFEFEF;
    color:#333333;
    white-space:nowrap;
    width:120px;
	height:30px;
    text-align:center;
}
nav ul li a:hover{
    background-color:#FFFFFF;
}
nav li:hover ul{
    display:block;
    position:absolute;
    height:40px;
}
nav li:hover li{
    float:none;
}
nav li:hover a{
    background-color:#FFFFFF;
}
nav li:hover li a:hover{
    background-color:#333333;
    color:#CCCCCC;
}
/*-----*/

section#sectionLeft{
    width:550px;
    background-color:#EFEFEF;
	min-height: 570px;
	padding:10px;
	text-align:justify;
}

article h1{
	text-align:justify;
	color:#FF6600;
	text-align:right;
	font-size:24px;
	text-shadow:#CCC 1px 1px 2px;
}

article{
	background-color:#FFFFFF;
	margin:5px;
	padding:10px;
	box-shadow: 2px 2px 5px #999;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 10px;
}
/*form styles*/
form{
overflow:hidden;
}
label {
	display:block;
	margin: 1em 0 0;
}
input:focus {
	box-shadow: 0px 0px 5px #DDEE00;
}
input[type="number"] {
	width: 3em;
}
input[type="submit"] {
	background-color:#FF6600;
	color:#EFEFEF;
	text-shadow:#555 1px 1px 2px;
	border:none;
	margin:10px;
	font-size:1.4em;
	padding:10px;
	float:right;
}
input[type="submit"]:hover {
	background-color:#FF9900;
}
input[type="text"], input[type="email"],input[type="url"] {
	width: 350px;
	height: 20px;
}
textarea {
	width: 350px;
	height: 250px;
	display: block;
	margin-bottom: 1em;
}
/*----*/
div#formPanel{
	border-radius: 5px;
	padding:10px;
	height:90px;
	background-color:#DFDFDF;
	overflow:hidden;
	-webkit-transition-property:height background-color;
	-webkit-transition-duration:0.7s;
	-webkit-transition-timing-function:ease-in;
	-webkit-transition-delay:.5s;
}
div#formPanel:hover{
	height:700px;
	background-color:#FFFFFF;
	overflow:hidden;
	-webkit-transition-property:height background-color;
	-webkit-transition-duration:0.7s;
	-webkit-transition-timing-function:ease-in;
	-webkit-transition-delay:.5s;
}
/*----*/
canvas, video{
margin:0 auto;
}
/*-----*/
aside#sectionRight{
    float: right;
    width:360px;
    background-color:#FFFFCC;
    min-height: 280px;
	padding:10px;
}
/*-----*/
.floatLeft{
	float:left;
}
.floatLeft{
	float:right;
}
.floatClear{
	clear:both;
}
/*-----*/
.box-shadow{
	box-shadow: 2px 2px 5px #999;
}
.opacity-50{
	opacity: 0.5;
}
.border-radius{
	border-radius: 5px;
}
.text-shadow{
text-shadow: #555 1px 1px 2px;
}
/*-----*/
.pseudo-elemento:first-line{
	text-transform: uppercase;
}
.pseudo-elemento:first-letter{
	color:#FF6600;
}
.pseudo-elemento{
quotes: "««\00AB" "»»»";
}
.pseudo-elemento:before{
content:open-quote"Contenido anterior, ";
color:#FFCC00;
}

.pseudo-elemento:after{
content:" Contenido después."close-quote;
color:#FFCC00;
}
.contador:before{
	content:"Contador : " counter(contador,upper-roman);
	counter-increment: contador 2;
}
.contador:after{
	content:url("../img/HTML5_Badge_16.png");
}

.contentExample:after{
 content: " href= '" attr(href);
}
/*-----*/
p > label{
color:#FFCC00;
}
p.normal{
	white-space:normal;
}
p.pre{
	white-space:pre;
}
p.nowrap{
	white-space:nowrap;
}
p.pre-wrap{
	white-space:pre-wrap;
}
p.pre-line{
	white-space:pre-line;
}
/*-----*/
.block{
display:block;
}
.inline{
display:inline;
}
.inline-block{
display:inline-block;
}
.list-item{
display:list-item;
margin-left:2em;
}
.table-cell{
display:table-cell;
padding:2px;
border:1px solid #0066FF;
}
/*-----*/
div.outline, div.border{
padding:5px;
}
div.outline:hover{
outline:3px solid #FFCC00;
}
div.border:hover{
border:3px solid #FFCC00;
}
/*-----*/
div.imageMap{
position:relative;
}
ul.notas li{
position:absolute;
background-color:#FFFFFF;
padding:5px;
display: none;
list-style:none;
top:100%;
}
div.imageMap:hover ul.notas li {
display: block;
}
ul.notas li p {
display: none;
}
ul.notas li:hover p {
display: block;
}
ul.notas li#nota1 {
width: 140px; height: 110px; top: 100px; left: 305px;
}
ul.notas li#nota2 {
width: 30px; height: 200px; top: 10px; left: 10px;
}
ul.notas li#nota3 {
width: 60px; height: 60px; top: 200px; left: 150px;
}
/*-----*/
.texto1{
text-align:justify;
}
.cuadro{
	width:50px;
	height:50px;
	background-color:#CC9800;
}
.cuadro1{
	width:50px;
	height:50px;
	background-color:#0066CC;
}
.cuadro2{
	width:50px;
	height:50px;
	background-color:#CC0000;
}
.cuadro3{
	border:1px solid #FF0000;
}
.contenedor{
	border:1px solid #333333;
	margin-bottom:5px;
}
.contenedorMal{
	margin-bottom:55px;
}
.contenedorBien{
	overflow:hidden;
}
.fuenteRara{
 	font-family: 'BebasNeueRegular',Arial,sans-serif;
	font-size:20px;
}
/*-----*/
footer{
	padding:20px;
    clear:both !important;
    background-color:#333333;
    color:#EFEFEF;
}

.mail{
color:#66CC00;
}
.Yo{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
}
/*---*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: local('☺'), url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}